@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .game-box {
        gap: 32px;
    }
    .top {
        height: 735px;
        padding-top: 238px;
        background-image: url(img/back_mob.jpg);
        align-items: center;
    }
    
    .tittle {
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }

    .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }


    .form__button_header {
        margin-top: 32px;
    }

    .game-one {
        gap: 64px;
        height: 654px;
        align-content: flex-start;
        padding-top: 51px;
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .game-two {
        gap: 64px;
        height: 654px;
        align-content: flex-start;
        padding-top: 51px;
        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .game-three {
        height: 654px;
        padding-top: 51px;
    }
}