@media (max-width: 1024px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .top {
        height: 735px;
    }

    .game-box {
        justify-content: center;
        gap: 32px;
    }
   
    .game-one {
        justify-content: center;
    }

    .game-two {
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 833px){
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .top {
        height: 735px;
    }

    .game-box {
        justify-content: center;
        gap: 32px;
    }

    .game-one {
        justify-content: center;
    }

    .game-two {
        justify-content: center;
    }
}

@media (min-width: 834px) and (max-width: 1229px){
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .top {
        height: 735px;
    }

    .game-box {
        justify-content: center;
        gap: 32px;
    }

    .game-one {
        justify-content: center;
    }

    .game-two {
        justify-content: center;
    }
}
