* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 217px;
}

.tittle {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.text {
    margin-top: 32px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    &_game {
        text-align: center;
    }
}


.form {
    &__button {
        width: 234.06px;
        height: 48.6px;
        left: 120px;
        top: 482.11px;
        background: #9C0332;
        border-radius: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        border: none;
        transition: all 0.5s;
        &:hover {
            background: #EB443F;
        }
        &_header {
            margin-top: 44px;
        }
        &_game {
            margin-top: 32px;
        }
    }
}

.game-box {
    padding-top: 128px;
    padding-bottom: 128px;
    background: #000915;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.game__link {
    text-decoration: none;
    position: relative;
}

.game__img {
    border-radius: 16px;
    width: 100%;
    transition: all 0.5s;
    &:hover {
        background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
        border: 3px solid #44D2FF;

    }
}

.game__text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.game-one {
    background-color:#000915;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__left {
        max-width: 584px;
    }
    &__img {
        width: 100%;
    }
}

.game-two {
    background-color:#000915;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__right {
        max-width: 584px;
    }
    &__img {
        width: 100%;
    }
}

.game-three {
    background-image: url(img/back_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    padding-top: 276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    height: 80px;
    background-color:#000915;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
}

@import 'tablet';
@import 'mobile';